.styleCart{
    font-family: 'Abel', sans-serif;
    color: #001524;
}
.botonesCart{
    text-decoration: none;
    border: none;
    height: 25px;
}
.botonesCart:hover{
    background-color: #001524;
    color: #f8edeb;
    transition: all 0.5s;
}
.fondoCart{
    color: #001524;
    justify-content: center;
    text-align: center;
}
.sizeIcon{
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
}
.colorTotal{
    color: #001524;
}
.sizeIconShop{
    width: 50px;
    height: 50px;
}

