.fondo{
    width: 400px;
    height: 200px;
    border: 2px solid #00b4d8;
    color: beige;
    justify-content: center;
    text-align: center;
}
.botonBack{
    color: beige;
    text-decoration: none;
}
.botonBack:hover{
    color: #168aad;
}
#compra{
    display: none;
}