.fondo{
    width: 400px;
    height: 220px;
    color: #001524;
    justify-content: center;
    text-align: center;
}
.botonBack{
    text-decoration: none;
    border: none;
}
.botonBack:hover{
    background-color: #001524;
    color: #f8edeb;
    transition: all 0.5s;
}
.styleDetail{
    font-family: 'Abel', sans-serif;
}

.botonCompra{
    text-decoration: none;
}
.botonTerminarComrpra{
    text-decoration: none;
    border: none;
}
.botonTerminarComrpra:hover{
    background-color: #001524;
    color: #f8edeb;
    transition: all 0.5s;
}
#botonContenedor{
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
    padding: auto;
}
#compra{
    display: none;
}
#cantidad{
    margin: 15px;
    font-size: 18px;
    display: none;
}
.sizeIcon{
    width: 30px;
    height: 30px;
}