.styleFondo{
    background: #17202A;
    margin: 10px;
    color: white;
    font-family: 'Abel', sans-serif;
}
.styleBoton{
    border: none;
    margin: 10px;
    font-family: 'Abel', sans-serif;
}
.styleBoton:hover{
    background-color: #001524;
    color: #f8edeb;
    transition: all 0.5s;
}
.styleImagen{
    width: 450px;
    text-align: center;
    justify-content: center;
}
.styleCard{
    justify-content: center;
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin: 5px;
}

.styleText{
    color: black;
}
